* {
    margin: 0;
}

body {
    width: 100%;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    z-index: 1000;
}

.inicio {
    display: flex;
    height: 100%;
}

.logo {
    width: 300px;
    height: 100px;
    margin-left: 1%;
}

.lista1 {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: absolute;
    right: 0;
    z-index: 50;
    height: 100%;
    padding: 0;
    width: 40%;
}

.lista1__l1{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 23px;
}

.lista1__l1 a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 30%;
    text-decoration: none;
    color: orangered;
}

.lista1__l1 a:visited {
    color: orangered;
    text-decoration: none;
}

.lista1__l1:hover{
    transition: 1s;
    background-color: #ff5722;
}

.lista1__l1:hover a{
    transition: 0.5s;
    color: white;
}





.registro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(dentista.jpg);
    background-size: cover;
    filter: blur(4px);
    z-index: 1;
}

.formulario {
    width: 60vw;
    height: 65vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px black; 
    border-radius: 25px;
    z-index: 100;
}

.formulario h3 {
    margin: 2%;
    font-size: 160%;
    text-align: center;
    color: orangered;
}

.formulario h5 {
    margin: 2%;
    font-size: 100%;
    text-align: center;
    color: orangered;
}

.formulario a {
    color: blue;
    text-decoration: none;
}

.formulario a:visited {
    color: blue
}

.inputs {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs input{
    height: 4vh;
    width: 90%;
    margin: 3%;
}

.inputs div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.columna {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.fecha{
    width: 90%;
    position: relative;
    display: flex;
}


.formulario button {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
    border: none;
    display: inline-block;
    text-align: center;
    color: #ff5722;
    border: 3px solid #ff5722;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}






.pie {
    padding: 1%;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #ff5722;
    z-index: 900;
}

.pie_subtitulo {
    position: relative;
    left: 0;
    font-size: 25px;
    color: white;
}

.lista2 {
    display: flex;
    color: white;
}

.lista2_l2 {
    margin-right: 15%;
}

.lista2_l2 a {
    color: white;
    text-decoration: none;
}

.lista2_l2 a:visited {
    color: white;
    text-decoration: none;
}

.lista2_l2 a:hover {
    color: white;
    text-decoration: underline solid white;
}

.copyright {
    width: 20%;
    position: absolute;
    right: 0;
    text-align: center;
    font-size: 15px;
    color: white;
}