* {
    margin: 0;
}

body {
    width: 100%;
    
}


.inicio {
    background-color: #588c7e;
}

.lista1 {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.lista1__l1{
    border-radius: 5px;
    margin: 0.5%;
    height: 10vh;
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 23px;
}

.lista1__l1 a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 30%;
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.lista1__l1:hover{
    transition: 1s;
    background-color: white;
    text-decoration: underline;
}

.lista1__l1:hover a{
    transition: 0.5s;
    color: #588c7e;
}




.registro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(51, 100%, 84%);
}

.formulario {
    width: 30vw;
    height: 45vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px black; 
    border-radius: 25px;
    z-index: 100;
}

.formulario h3 {
    margin: 2%;
    font-size: 160%;
    text-align: center;
    color: #588c7e;
}

.formulario h5 {
    margin: 1%;
    font-size: 100%;
    text-align: center;
    color: #588c7e;
}

.formulario a {
    text-decoration: none;
}

.inputs {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs input{
    height: 4vh;
    width: 90%;
    margin: 3%;
    border: 2px solid #588c7e;
    border-radius: 5px;
}

.inputs input[type="number"] {
    width: 40%;
}

.inputs div {
    margin: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

select {
    border: solid #588c7e;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: white;
}

select option {
    color: #588c7e;
}

.boton{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-top: 3%;
    border: none;
    display: inline-block;
    text-align: center;
    color: white;
    border: 2px solid #588c7e;
    border-radius: 5px;
    background-color: #588c7e;
    cursor: pointer;
}
